{% extends 'base.html' %}
{% load crispy_forms_tags %}




{% block content %}
<div class="col-md-4 offset-md-4 mt-5">
    <div class="jumbotron">
      
        <button type="button" class="btn btn-primary js-upload-photos">
            <span class="glyphicon glyphicon-cloud-upload"></span> Upload Documents
          </button>
          
          <input id="fileupload" type="file" name="file" multiple
                 style="display: none;"
                 data-url="{% url 'basic_upload' %}"
                 data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
          
          <table id="gallery" class="table table-bordered">
            <thead>
              <tr>
                <th>Documents:</th>
              </tr>
            </thead>
            <tbody>
              {% for document in documents %}
                <tr>
                  <td><a href="{{ document.file.url }}">{{ document.file.name }}</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <!-- <button type="button" class="btn btn-primary">Analize Documents</button> -->



          <div >
            <form class="docs-post-form" action="/analyze-docs/" method="POST", autocomplete="off">  
                {% csrf_token %} 
                {{ formset.management_form }}

                <div id="form_set">
                {% for form in formset %}

                <table class='no_error'>
                    {{ form }}
                </table>
                



                {% endfor %}
                </div>
                <br>
                <button class="btn btn-primary"  type="submit" type="submit">Analyze Documents</button>
            </form>
            <div id="empty_form" style="display:none">
                <table class='no_error'>
                    {{ formset.empty_form }}
                </table>
            </div>
        </div>










    </div>
</div>
{% endblock %}